<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.fanli.recharge.mapper.RechargeMapper">
    <!--以下是总提现金额的方法-->
    <select id="sumMoney" resultType="String">
        select ifnull(sum(recharge_money),0) from fanli_recharge;
    </select>
    <!--以下是今日提现的方法-->
    <select id="sumDayMoney" resultType="String">
        select ifnull(sum(recharge_money),0) from fanli_recharge where to_days(create_time) = to_days(now());
    </select>
</mapper>